/* -------------- Header -------------- */
header {
    background: rgb(95, 200, 235);
}

/* -------------- Main -------------- */
main {
    background: lightgray;
}

/* -------------- Footer -------------- */
footer {
    background: rgb(95, 200, 235);
}