/* -------------- Header -------------- */
header {
    background: rgb(45, 174, 218);
}

/* -------------- Main -------------- */
main {
    background: lightgray;
}

/* -------------- Footer -------------- */
footer {
    background: rgb(45, 174, 218);
}