/* -------------- Header -------------- */
header {
    background: lightblue;
}

/* -------------- Main -------------- */
main {
    background: lightcyan;
}

/* -------------- Footer -------------- */
footer {
    background: lightblue;
}

.container {
    background: lightgray  ;
}
